*{
    font-size: 150%;
}

body{
    background-image:url(https://i.redd.it/bpxxqqvps4h91.gif);
    background-color:#243CED;
    color:yellow;
    font-family: 'Times New Roman', Times;
    font-variant: small-caps;
    font-weight:bold;
    font-style: italic;    
  }

  p{
    font-family: Verdana;
    font-weight: 500;
    border: 1px solid red;
    padding: 10px;
    margin: 50%;
    width: 100px;
    height: 50px;
   }

   a{
    text-decoration:solid;
    text-indent: 1.2em;
   }

   a:hover{
    text-decoration: underline;
   }

   a, body{
    text-align: center;
   }